header .logo {
    width: 152px;
}

.theme_btn {
    border-radius: 8px;
    border: 1px solid #0ACEFE;
    background: var(--gradient, linear-gradient(94deg, #0ACEFE -6.36%, #2699FB 50.16%));
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 18px; 
}

.what_btn {
    border-radius: 8px;
    border: 1px solid, #27AE60;
    background:  #FFF;
    padding: 10px 18px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color:  #27AE60;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    text-transform: capitalize;
}
.right{
    background:url();
    background-size: cover;
}
.right_inner from label{
    display: block;
}